body {
  display: flex;
  justify-content: center;
 font-family: sans-serif;
 background-color: rgb(236, 236, 236);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  
  background-color: white;
  
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: bolder;
}

.add-task {
  display: flex;
  align-items: center;
  width: 400px;
}

.text-input {
  font-size: large;
  border-radius: 0;
  height: 40px;
  width: fill;
  
}

.add-button{
  border-radius: 0;
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
  background-color: rgb(12, 12, 12);
  width: fill;
  height: 40px;
  margin-top: 5px;
}

.add-button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.filter-button {
  background-color: white;
  border-color: black;
  border-radius: 0;
  width: 120px;
  height: 30px;
  margin: 5px;
}

.filter-button:hover {
  background-color: rgb(208, 208, 208);
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.checkbox {
  
  border-radius: 0;
  width: 30px;
  height: 30px;
}

.task-text {
  display: flex;
  align-items: center;
  margin: 0;
}

.task-button {
  border-radius: 0;
  width: 120px;
  height: 30px;
  margin: 5px;
}

.edit-button {
  background-color: white;
}
.edit-button:hover {  
  background-color: rgb(220, 220, 220);
  cursor: pointer;
}

.delete-button {
  color: white;
  background-color: rgb(146, 0, 0);
}

.delete-button:hover {
  background-color: rgb(189, 0, 0);
  cursor: pointer;
}